<!-- Additional Layer for Services/Highlights -->
<section class="text-dark py-4">

  <div class="payment-banner">
    <h5 class="payment-heading">Ihre Zahlungsmöglichkeiten</h5>
    <div class="payment-icons d-flex justify-content-center align-items-center flex-wrap">
      <img src="/bezahlmoeglichkeiten/visa.png" alt="Visa">
      <img src="/bezahlmoeglichkeiten/mastercard.png" alt="Mastercard">
      <img src="/bezahlmoeglichkeiten/maestro.png" alt="Maestro">
      <img src="/bezahlmoeglichkeiten/paypal.png" alt="Paypal">
      <img src="/bezahlmoeglichkeiten/americanexpress.png" alt="American Express">
    </div>
  </div>


  <div class="container text-center">
    <h4 class="font-weight-bold mb-3 mt-3">Warum mit uns reisen?</h4>
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-globe-americas fa-2x icon-color mb-3"></i>
        <h6>Weltweite Reiseziele</h6>
        <p class="footerlead">Entdecken Sie exotische Reiseziele auf der ganzen Welt mit uns.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-hands-helping fa-2x icon-color mb-3"></i>
        <h6>Erstklassiger Kundenservice</h6>
        <p class="footerlead">Unsere Kunden stehen immer an erster Stelle – wir sind für Sie da.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-star fa-2x icon-color mb-3"></i>
        <h6>Beste Angebote</h6>
        <p class="footerlead">Profitieren Sie von exklusiven Reiseangeboten und Ermäßigungen.</p>
      </div>
    </div>
  </div>
</section>

<footer class="bg-dark-gradient footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 my-4 text-center text-md-start">
          <h5 class="text-uppercase mb-4 font-weight-bold text-info">Kontakt</h5>
          <div class="contact-info">
            <span>
              <i class="fas fa-map-marker-alt" style="margin-right: 8px;color: #0dc8ee;"></i>
              Schnurstraße 15, 63450 Hanau
            </span><br>
                      <span>
              <i class="fas fa-phone" style="margin-right: 8px;color: #0dc8ee;"></i>
              Tel.: <a href="tel:+4961814341810" style="color: white; text-decoration: none;">06181 4341810</a>
            </span><br>
                      <span>
              <i class="fas fa-fax" style="margin-right: 8px;color: #0dc8ee;"></i>
              Fax: 06181 4341811
            </span><br>
                      <span>
              <i class="fas fa-mobile-alt" style="margin-right: 8px;color: #0dc8ee;"></i>
              Mobil: <a href="tel:+491727049131" style="color: white; text-decoration: none;">0172 7049131</a>
            </span><br>
                      <span>
              <i class="fas fa-envelope" style="margin-right: 8px;color: #0dc8ee;"></i>
              E-Mail: <a href="mailto:info@yisu-travel.de"
                         style="color: white; text-decoration: none;">info&#64;yisu-travel.de</a>
            </span>
          </div>


          <div class="social-icons">
            <!-- Facebook -->
            <a class="btn btn-social" style="background-color: #3b5998;"
               href="https://www.facebook.com/p/Yisu-Travel-GmbH-100063462493141/?locale=de_DE" target="_blank"
               role="button">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!-- Instagram -->
            <a class="btn btn-social instagram-btn" style="background-color: #ac2bac;"
               href="https://www.instagram.com/yisu.travel/?hl=de" target="_blank" role="button">
              <i class="fab fa-instagram"></i>
            </a>
            <!-- WhatsApp -->
            <a class="btn btn-social" style="background-color: #25D366;" href="https://wa.me/4917696184913"
               target="_blank" role="button">
              <i class="fab fa-whatsapp" style="font-size: 22px;"></i>
            </a>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 my-4 text-center text-md-start" id="produkte">
          <h5 class="text-info h6 mb-4 servicedesign">Service</h5>
          <ul class="list-unstyled white-link footer-links">
            <li><a routerLink="/in-bearbeitung">Flug</a></li>
            <li><a routerLink="/in-bearbeitung">Hotel</a></li>
            <li><a routerLink="/in-bearbeitung">Visum</a></li>
            <li><a routerLink="/in-bearbeitung">Kreuzfahrt</a></li>
            <li><a routerLink="/in-bearbeitung">Mietwagen</a></li>
            <li><a routerLink="/in-bearbeitung">Pauschalreise</a></li>
            <li><a routerLink="/in-bearbeitung">Reiserücktrittsversicherung</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 my-4 text-center text-md-start">
          <h5 class="h6 mb-4 text-info">Kunden</h5>
          <ul class="list-unstyled white-link footer-links">
            <li><a routerLink="/kontakt">Kontakt</a></li>
            <li style="cursor: pointer;"><a (click)="openAppointmentBooking()">Terminvereinbarung</a></li>
          </ul>
        </div>


        <div class="col-lg-2 col-md-6 my-4 text-center text-md-start" id="unternehmen">
          <h5 class="text-info h6 mb-4">Unternehmen</h5>
          <ul class="list-unstyled white-link footer-links">
            <li><a routerLink="/ueber-uns">Über Uns</a></li>
            <li><a routerLink="/impressum">Impressum</a></li>
            <li><a routerLink="/datenschutzerklaerung">Datenschutzerklärung</a></li>
            <li><a routerLink="/in-bearbeitung">AGB</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 my-4 text-center text-md-start" id="offnungszeiten">
          <h5 class="text-info h6 mb-4">Öffnungszeiten</h5>
          <p style="color:white; margin: 2px;">
            Montag - Freitag:<br>
            10:00 - 18:00 Uhr<br><br>
            Samstag<br>
            10:30 - 15:30 Uhr<br>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
  </div>
  <div class="footer-bottom footer-border-top light py-3">
    <div class="container text-center">
      <p class="text-white m-0">Copyright © 2024 YISU Travel</p>
    </div>
  </div>
</footer>
