<!-- Desktop -->
<section class="popular-destinations" *ngIf="isBrowser">
  <h2 class="section-title">Unsere schönsten Reiseziele</h2>
  <swiper-container
    loop="false"
    slides-per-view="3"
    slides-per-group="1"
    speed="500"
    space-between="15"
    class="desktop custom-swiper"
    autoplay-delay="2500"
    autoplay-disable-on-interaction="false"
  >
    <swiper-slide>
      <div class="slider-wrapper">
        <img src="/reiseziele/turkey.jpg" alt="Türkei" class="slider-img">
        <div class="slider-caption">Türkei</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slider-wrapper">
        <img src="/reiseziele/dubai.jpg" alt="Dubai" class="slider-img">
        <div class="slider-caption">Dubai</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slider-wrapper">
        <img src="/reiseziele/thailand.jpg" alt="Thailand" class="slider-img">
        <div class="slider-caption">Thailand</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slider-wrapper">
        <img src="/reiseziele/agyptan.jpg" alt="Ägypten" class="slider-img">
        <div class="slider-caption">Ägypten</div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="slider-wrapper">
        <img src="/reiseziele/domrepublik.jpg" alt="Dominikanische Republik" class="slider-img">
        <div class="slider-caption">Dominikanische Republik</div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>

<!-- Mobile -->
<swiper-container
  *ngIf="isBrowser"
  loop="false"
  navigation="false"
  slides-per-view="1"
  slides-per-group="1"
  speed="500"
  space-between="15"
  class="custom-swiper mobile"
  autoplay-delay="2500"
  autoplay-disable-on-interaction="false"
>
  <swiper-slide>
    <div class="slider-wrapper">
      <img src="/reiseziele/turkey.jpg" alt="Türkei" class="slider-img">
      <div class="slider-caption">Türkei</div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slider-wrapper">
      <img src="/reiseziele/dubai.jpg" alt="Dubai" class="slider-img">
      <div class="slider-caption">Dubai</div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slider-wrapper">
      <img src="/reiseziele/thailand.jpg" alt="Thailand" class="slider-img">
      <div class="slider-caption">Thailand</div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slider-wrapper">
      <img src="/reiseziele/agyptan.jpg" alt="Ägypten" class="slider-img">
      <div class="slider-caption">Ägypten</div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slider-wrapper">
      <img src="/reiseziele/domrepublik.jpg" alt="Dominikanische Republik" class="slider-img">
      <div class="slider-caption">Dominikanische Republik</div>
    </div>
  </swiper-slide>
</swiper-container>





