<!-- Desktop -->
<section class="popular-destinations" *ngIf="isBrowser">
  <h2 class="section-title">Unsere schönsten Reiseziele</h2>
  <div id="destinationsCarouselDesktop" class="carousel slide desktop custom-swiper" data-bs-ride="carousel" data-bs-interval="2500" appCarouselSwipe>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row g-3">
          <div class="col-md-4">
            <div class="slider-wrapper">
              <img src="/reiseziele/turkey.jpg" alt="Türkei" class="slider-img w-100">
              <div class="slider-caption">Türkei</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="slider-wrapper">
              <img src="/reiseziele/dubai.jpg" alt="Dubai" class="slider-img w-100">
              <div class="slider-caption">Dubai</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="slider-wrapper">
              <img src="/reiseziele/thailand.jpg" alt="Thailand" class="slider-img w-100">
              <div class="slider-caption">Thailand</div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row g-3">
          <div class="col-md-6">
            <div class="slider-wrapper">
              <img src="/reiseziele/agyptan.jpg" alt="Ägypten" class="slider-img w-100">
              <div class="slider-caption">Ägypten</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="slider-wrapper">
              <img src="/reiseziele/domrepublik.jpg" alt="Dominikanische Republik" class="slider-img w-100">
              <div class="slider-caption">Dominikanische Republik</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mobile -->
<div id="destinationsCarouselMobile" class="carousel slide custom-swiper mobile" data-bs-ride="carousel" data-bs-interval="2500" *ngIf="isBrowser" appCarouselSwipe>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="slider-wrapper">
        <img src="/reiseziele/turkey.jpg" alt="Türkei" class="slider-img w-100">
        <div class="slider-caption">Türkei</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slider-wrapper">
        <img src="/reiseziele/dubai.jpg" alt="Dubai" class="slider-img w-100">
        <div class="slider-caption">Dubai</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slider-wrapper">
        <img src="/reiseziele/thailand.jpg" alt="Thailand" class="slider-img w-100">
        <div class="slider-caption">Thailand</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slider-wrapper">
        <img src="/reiseziele/agyptan.jpg" alt="Ägypten" class="slider-img w-100">
        <div class="slider-caption">Ägypten</div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slider-wrapper">
        <img src="/reiseziele/domrepublik.jpg" alt="Dominikanische Republik" class="slider-img w-100">
        <div class="slider-caption">Dominikanische Republik</div>
      </div>
    </div>
  </div>
</div>





