<div class="container-fluid px-0" style="background-color:#005279">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <p class="display-5 fw-bolder text-white mb-2">Willkommen bei YISU Travel</p>
          <p class="lead fw-normal text-white mb-4">
            Falls Sie diese Seite sehen, dann sind sie momentan auf yisu-travel.de/startseite. Die Adresse /startseite existiert nicht mehr und wurde in ihrem Cache zwischengespeichert, da sie während des Aufbaus die Seite besucht haben. Um auf die eigentliche Startseite zu gelangen, leeren Sie bitte Ihren Cache, damit Ihr Browser die URL /startseite vergisst. Dieser Fehler betrifft nur Kunden, die während des Aufbaus die Seite besucht haben. Wir bitten um Ihr Verständnis!
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <a class="btn btn-outline-light btn-lg px-4" href="https://www.iqual.ch/de/internet-glossar/anleitung-cache-leeren-verschiedenen-browsern" target="_blank">Anleitung</a>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-xl-block text-center">
        <div class="ratio ratio-16x9 rounded-3 my-5">
          <iframe src="https://www.youtube.com/embed/BFcKyqeUg3Y"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

