<div class="container">
  <!-- Statistics Section -->
  <div class="row mb-5 align-items-center statistics-section">
    <div class="col-xl-6 col-md-12 mb-4">
      <div class="mb-3">
        <p class="fw-bold display-5 text-center title">Unsere Buchungsstatistiken</p>
      </div>
      <div class="mb-3">
        <p class="lead">Entdecken Sie unsere aktuellen Unternehmenszahlen! Diese Statistiken werden täglich aktualisiert und zeigen unser kontinuierliches Wachstum und die Zufriedenheit unserer Kunden.</p><br>
        <p class="lead">Wir sind stolz darauf, unseren Kunden zuverlässige Reisedienstleistungen anzubieten. Jede Zahl repräsentiert unser Engagement für Exzellenz und Kundenzufriedenheit.</p>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col">
          <div class="card card-body shadow border-0 text-center custom-counter">
            <div class="d-flex align-items-center justify-content-center flex-column" style="min-height: 196px;">
              <div class="mb-2">
                <svg width="3em" height="3em">
                  <symbol id="buchung-icon" viewBox="0 0 32 32">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-card-list svgs" viewBox="0 0 16 16">
                      <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                      <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
                    </svg>
                  </symbol>
                </svg>
                <svg width="3em" height="3em">
                  <use href="#buchung-icon"></use>
                </svg>
              </div>
              <div>
                <span class="fw-bold display-5 mb-1 counterb">{{buchungen}}</span>
                <p class="lead"><strong>Buchungen</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-body shadow border-0 text-center custom-counter">
            <div class="d-flex align-items-center justify-content-center flex-column" style="min-height: 196px;">
              <div class="mb-2">
                <svg width="3em" height="3em">
                  <symbol id="kunden-icon" viewBox="0 0 32 32">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-emoji-smile svgs" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                      <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>
                    </svg>
                  </symbol>
                </svg>
                <svg width="3em" height="3em">
                  <use href="#kunden-icon"></use>
                </svg>
              </div>
              <div>
                <span class="fw-bold display-5 mb-1 counterb">{{zufriedeneKunden}}</span>
                <p class="lead"><strong>Zufriedene Kunden</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-body shadow border-0 text-center custom-counter">
            <div class="d-flex align-items-center justify-content-center flex-column" style="min-height: 196px;">
              <div class="mb-2">
                <svg width="3em" height="3em">
                  <symbol id="rechnungen-icon" viewBox="0 0 32 32">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-journal-text svgs" viewBox="0 0 16 16">
                      <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                      <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                      <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                    </svg>
                  </symbol>
                </svg>
                <svg width="3em" height="3em">
                  <use href="#rechnungen-icon"></use>
                </svg>
              </div>
              <div>
                <span class="fw-bold display-5 mb-1 counterb">{{rechnungen}}</span>
                <p class="lead"><strong>Rechnungen</strong></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Entdecken Sie die Welt mit uns Section -->
  <div class="row mb-4 align-items-center">
    <div class="col-lg-6 mb-4 mb-lg-0">
      <div class="lc-block text-center">
        <img class="img-fluid" src="/FifthComponent/fifthpage1.jpg" width="800" height="800" loading="lazy">
      </div><!-- /lc-block -->
    </div><!-- /col -->
    <div class="col-lg-6 p-lg-6">
      <div class="lc-block mb-5">
        <div editable="rich">
          <p class="display-6 fw-bold title">Entdecken Sie die Welt mit uns</p>
          <p class="lead"><br>Wir machen Ihre Reise unvergesslich! Mit maßgeschneiderten Angeboten, erstklassigem Kundenservice und Insiderwissen helfen wir Ihnen, Ihre Traumziele zu entdecken und die besten Reiseerlebnisse zu genießen.</p>
        </div>
      </div><!-- /lc-block -->
      <!-- /lc-block -->
      <div class="lc-block">
        <div class="d-inline-flex">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="icon">
            <path d="m381-240 424-424-57-56-368 367-169-170-57 57 227 226Zm0 113L42-466l169-170 170 170 366-367 172 168-538 538Z"/>
          </svg>

          <div class="ms-3 align-self-center" editable="rich">
            <p>Exklusive Reiseangebote für jedes Budget</p>
          </div>
        </div>
      </div>
      <div class="lc-block">
        <div class="d-inline-flex">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="icon">
              <path d="m381-240 424-424-57-56-368 367-169-170-57 57 227 226Zm0 113L42-466l169-170 170 170 366-367 172 168-538 538Z"/>
            </svg>
          </div>

          <div class="ms-3 align-self-center" editable="rich">
            <p>Individuelle Beratung von Reiseexperten</p>
          </div>
        </div>
      </div>
      <div class="lc-block">
        <div class="d-inline-flex">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="icon">
              <path d="m381-240 424-424-57-56-368 367-169-170-57 57 227 226Zm0 113L42-466l169-170 170 170 366-367 172 168-538 538Z"/>
            </svg>
          </div>

          <div class="ms-3 align-self-center" editable="rich">
            <p>Höchste Flexibilität und Sicherheit bei jeder Buchung</p>
          </div>
        </div>
      </div><!-- /lc-block -->
    </div><!-- /col -->
  </div>
  
  <!-- Warum mit uns reisen Section -->
  <div class="row mb-4 align-items-center">
    <div class="col-lg-6 mb-4 mb-lg-0 order-lg-1">
      <div class="lc-block text-center"><img class="img-fluid" src="/FifthComponent/fifthpage2.jpg" width="800" height="800" loading="lazy"></div><!-- /lc-block -->
    </div><!-- /col -->
    <div class="col-lg-6 p-lg-6">
      <div class="lc-block mb-5">
        <div editable="rich">
          <p class="display-6 fw-bold title">Warum mit uns reisen?</p>
          <p class="lead"><br>Weil wir Ihre Bedürfnisse verstehen. Unsere Experten sorgen dafür, dass Sie sich von Anfang bis Ende rundum betreut fühlen. Egal ob Abenteuer, Entspannung oder eine Städtereise – wir planen jeden Aspekt Ihrer Reise perfekt auf Sie zugeschnitten.</p>
        </div>
      </div><!-- /lc-block -->
      <!-- /lc-block -->
      <div class="lc-block">
        <div class="d-inline-flex">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="icon">
              <path d="m381-240 424-424-57-56-368 367-169-170-57 57 227 226Zm0 113L42-466l169-170 170 170 366-367 172 168-538 538Z"/>
            </svg>
          </div>

          <div class="ms-3 align-self-center" editable="rich">
            <p>Langjährige Erfahrung in der Tourismusbranche</p>
          </div>
        </div>
      </div>
      <div class="lc-block">
        <div class="d-inline-flex">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="icon">
              <path d="m381-240 424-424-57-56-368 367-169-170-57 57 227 226Zm0 113L42-466l169-170 170 170 366-367 172 168-538 538Z"/>
            </svg>
          </div>

          <div class="ms-3 align-self-center" editable="rich">
            <p>Persönliche Beratung und Rundum-Service</p>
          </div>
        </div>
      </div>
      <div class="lc-block">
        <div class="d-inline-flex">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" class="icon">
              <path d="m381-240 424-424-57-56-368 367-169-170-57 57 227 226Zm0 113L42-466l169-170 170 170 366-367 172 168-538 538Z"/>
            </svg>
          </div>

          <div class="ms-3 align-self-center" editable="rich">
            <p>Exklusive Angebote und Rabatte</p>
          </div>
        </div>
      </div><!-- /lc-block -->
    </div><!-- /col -->
  </div>
</div>

