<section class="gradient-custom">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="text-center mb-4 pb-2">
          <h2 class="text-white">Unsere Kundenrezensionen</h2>
          <i class="fas fa-quote-left fa-3x text-white"></i>
        </div>

        <!-- Desktop Bootstrap Carousel -->
        <div class="card desktop-swiper">
          <div class="card-body px-4 py-5">
            <div id="reviewsDesktopCarousel" class="carousel slide desktop-reviews-swiper" data-bs-ride="carousel" data-bs-interval="4000" appCarouselSwipe>
              <div class="carousel-inner">
                <div class="carousel-item active">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-10 col-xl-8">
                    <div class="row">
                      <div class="col-lg-4 d-flex justify-content-center">
                        <img src="/customer-ratings/blankprofile.png"
                             class="rounded-circle shadow-1 mb-4 mb-lg-0" width="150" height="150" />
                      </div>
                      <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                        <h4 class="mb-4">Zeynep Özer</h4>
                        <div class="rating mb-2">
                          <ul class="list-unstyled d-flex text-warning mb-0">
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                          </ul>
                        </div>
                        <p class="mb-0 pb-3">
                          Wir buchen seit Jahren bei diesem Reiseunternehmen und sind sehr zufrieden.
                          Bei Komplikationen, wie Flugzeitänderungen oder Stornierungen konnte ich den Inhaber an einem Wochenende, nachts über die Notdienstnummer erreichen und er konnte direkt mein Problem beheben. Das nenne ich ein Service! Herzlichen Dank!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                <div class="carousel-item">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-10 col-xl-8">
                    <div class="row">
                      <div class="col-lg-4 d-flex justify-content-center">
                        <img src="/customer-ratings/blankprofile.png"
                             class="rounded-circle shadow-1 mb-4 mb-lg-0" width="150" height="150" />
                      </div>
                      <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                        <h4 class="mb-4">ey.hu.63</h4>
                        <div class="rating mb-2">
                          <ul class="list-unstyled d-flex text-warning mb-0">
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                          </ul>
                        </div>
                        <p class="mb-0 pb-3">
                          Dieses Reisebüro hat meiner Frau und mir wundervolle Flitterwochen ermöglicht. Wir wurden top beraten und über jegliche Aktivitäten und Wissenwertes übers Reiseziel informiert. Hervorzuheben ist außerdem der nette und freundlicher Umgang des Reisebüros
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                <div class="carousel-item">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-10 col-xl-8">
                    <div class="row">
                      <div class="col-lg-4 d-flex justify-content-center">
                        <img src="/customer-ratings/blankprofile.png"
                             class="rounded-circle shadow-1 mb-4 mb-lg-0" width="150" height="150" />
                      </div>
                      <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                        <h4 class="mb-4">Nur</h4>
                        <div class="rating mb-2">
                          <ul class="list-unstyled d-flex text-warning mb-0">
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                          </ul>
                        </div>
                        <p class="mb-0 pb-3">
                          Sehr zuverlässig, sie kümmern sich um den Kunden und nehmen sich Zeit. Sie sind auch durchgängig erreichbar. Ich empfehle es weiter!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                <div class="carousel-item">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-10 col-xl-8">
                    <div class="row">
                      <div class="col-lg-4 d-flex justify-content-center">
                        <img src="/customer-ratings/blankprofile.png"
                             class="rounded-circle shadow-1 mb-4 mb-lg-0" width="150" height="150" />
                      </div>
                      <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                        <h4 class="mb-4">dersimoktay</h4>
                        <div class="rating mb-2">
                          <ul class="list-unstyled d-flex text-warning mb-0">
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                          </ul>
                        </div>
                        <p class="mb-0 pb-3">
                          Seit Jahren buche ich all meine Reisen und Flüge immer nur bei YISU Travel. Sehr freundlich und kompetent, haben immer das passend für uns gefunden und die Preise waren immer TOP!
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                <div class="carousel-item">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-10 col-xl-8">
                    <div class="row">
                      <div class="col-lg-4 d-flex justify-content-center">
                        <img src="/customer-ratings/blankprofile.png"
                             class="rounded-circle shadow-1 mb-4 mb-lg-0" width="150" height="150" />
                      </div>
                      <div class="col-9 col-md-9 col-lg-7 col-xl-8 text-center text-lg-start mx-auto mx-lg-0">
                        <h4 class="mb-4">Adem Arslan</h4>
                        <div class="rating mb-2">
                          <ul class="list-unstyled d-flex text-warning mb-0">
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                            <li><i class="fa fa-star fa-sm"></i></li>
                          </ul>
                        </div>
                        <p class="mb-0 pb-3">
                          Beratung einfach super. Man kann alles telefonisch erledigen ohne Probleme. Immer faire Preise. Kann ich nur weiter empfehlen.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mobile Bootstrap Carousel -->
        <div class="mobile-swiper">
          <div id="reviewsMobileCarousel" class="carousel slide mobile-reviews-swiper" data-bs-ride="carousel" data-bs-interval="4000" appCarouselSwipe>
            <div class="carousel-inner">
              <div class="carousel-item active">
              <div class="mobile-review-card">
                <div class="text-center mb-3">
                  <img src="/customer-ratings/blankprofile.png" class="rounded-circle mb-3" width="80" height="80" />
                  <h5 class="mb-2">Zeynep Özer</h5>
                  <div class="rating mb-3">
                    <ul class="list-unstyled d-flex text-warning justify-content-center mb-0">
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                    </ul>
                  </div>
                </div>
                <p class="text-center">
                  Wir buchen seit Jahren bei diesem Reiseunternehmen und sind sehr zufrieden.
                  Bei Komplikationen, wie Flugzeitänderungen oder Stornierungen konnte ich den Inhaber an einem Wochenende, nachts über die Notdienstnummer erreichen und er konnte direkt mein Problem beheben. Das nenne ich ein Service! Herzlichen Dank!
                </p>
              </div>
              </div>

              <div class="carousel-item">
              <div class="mobile-review-card">
                <div class="text-center mb-3">
                  <img src="/customer-ratings/blankprofile.png" class="rounded-circle mb-3" width="80" height="80" />
                  <h5 class="mb-2">ey.hu.63</h5>
                  <div class="rating mb-3">
                    <ul class="list-unstyled d-flex text-warning justify-content-center mb-0">
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                    </ul>
                  </div>
                </div>
                <p class="text-center">
                  Dieses Reisebüro hat meiner Frau und mir wundervolle Flitterwochen ermöglicht. Wir wurden top beraten und über jegliche Aktivitäten und Wissenwertes übers Reiseziel informiert. Hervorzuheben ist außerdem der nette und freundlicher Umgang des Reisebüros
                </p>
              </div>
              </div>

              <div class="carousel-item">
              <div class="mobile-review-card">
                <div class="text-center mb-3">
                  <img src="/customer-ratings/blankprofile.png" class="rounded-circle mb-3" width="80" height="80" />
                  <h5 class="mb-2">Nur</h5>
                  <div class="rating mb-3">
                    <ul class="list-unstyled d-flex text-warning justify-content-center mb-0">
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                    </ul>
                  </div>
                </div>
                <p class="text-center">
                  Sehr zuverlässig, sie kümmern sich um den Kunden und nehmen sich Zeit. Sie sind auch durchgängig erreichbar. Ich empfehle es weiter!
                </p>
              </div>
              </div>

              <div class="carousel-item">
              <div class="mobile-review-card">
                <div class="text-center mb-3">
                  <img src="/customer-ratings/blankprofile.png" class="rounded-circle mb-3" width="80" height="80" />
                  <h5 class="mb-2">dersimoktay</h5>
                  <div class="rating mb-3">
                    <ul class="list-unstyled d-flex text-warning justify-content-center mb-0">
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                    </ul>
                  </div>
                </div>
                <p class="text-center">
                  Seit Jahren buche ich all meine Reisen und Flüge immer nur bei YISU Travel. Sehr freundlich und kompetent, haben immer das passend für uns gefunden und die Preise waren immer TOP!
                </p>
              </div>
              </div>

              <div class="carousel-item">
              <div class="mobile-review-card">
                <div class="text-center mb-3">
                  <img src="/customer-ratings/blankprofile.png" class="rounded-circle mb-3" width="80" height="80" />
                  <h5 class="mb-2">Adem Arslan</h5>
                  <div class="rating mb-3">
                    <ul class="list-unstyled d-flex text-warning justify-content-center mb-0">
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                      <li><i class="fa fa-star fa-sm"></i></li>
                    </ul>
                  </div>
                </div>
                <p class="text-center">
                  Beratung einfach super. Man kann alles telefonisch erledigen ohne Probleme. Immer faire Preise. Kann ich nur weiter empfehlen.
                </p>
              </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center mt-4 pt-2">
          <i class="fas fa-quote-right fa-3x text-white"></i>
        </div>
      </div>
    </div>
  </div>
</section>