/* termin-vereinbaren.component.css */

:host {
  max-width: 800px; /* Maximale Breite */
  width: 100%;
  max-height: none;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  overflow-y: visible;
}


.form-field {
  width: 100%; /* Setzt die Breite der Form-Felder auf 100% */
}
.selected-date-container.date-not { /* Neu: Kasten für außerhalb der Öffnungszeiten */
  background-color: #f8d7da; /* Hellrot für Warnhinweis */
  color: #721c24; /* Textfarbe für Warnhinweis */
}
mat-form-field {
  width: 100%; /* Setzt die Breite der mat-form-field auf 100% */
  margin-top: 8px;
}

mat-calendar .mat-calendar-table-header th {
  width: auto; /* Verhindert das automatische Kürzen */
  padding: 0 5px; /* Etwas Abstand hinzufügen */
  text-align: center; /* Zentriert die Wochentage */
  font-weight: 500; /* Optional: Wochentage fett anzeigen */
}
.date-selection-title {
  font-size: 1.5rem; /* Größere Schriftgröße für Sichtbarkeit */
  font-weight: bold; /* Fett für bessere Lesbarkeit */
  color: #494949; /* Grüner Farbton für ein positives Gefühl */
  margin: 16px 0; /* Abstand nach oben und unten */
  text-align: center; /* Zentrierter Text */
  text-transform: uppercase; /* Großbuchstaben für mehr Wirkung */
  border-bottom: 2px solid rgb(10, 118, 234); /* Unterstrich für Betonung */
  padding-bottom: 8px; /* Abstand unter dem Text */
}
.selected-date-container.out-of-hours .selected-date-title {
  color: #af4c4c; /* Textfarbe für Überschrift, wenn außerhalb der Öffnungszeiten */
}
svg {
  margin-right: 15px;
  cursor: pointer;
}

.selected-date-container {
  border: 1px solid #4caf50; /* Grün */
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9; /* Heller Hintergrund */
  margin: 20px 0; /* Abstand zum Rest des Inhalts */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Schatten für Tiefe */
}

.date-not {
  border: 1px solid #af4c4c; /* Rot für Warnhinweis */
  border-radius: 8px;
  padding: 16px;
  background-color: #ffe5e5; /* Heller Rotton für Hintergrund */
  margin: 20px 0; /* Abstand zum Inhalt */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}
.no-appointments {
  padding: 5px 5px; /* Polsterung */
  border-radius: 5px; /* Abgerundete Ecken */
  text-align: center; /* Zentrierter Text */
  margin: 10px 0; /* Abstand oben und unten */
  font-size: 16px; /* Schriftgröße */
  font-weight: bold; /* Fettdruck */
}



.selected-date-container.out-of-hours {
  border: 1px solid #af4c4c; /* Rot für außerhalb der Öffnungszeiten */
  background-color: #ffe5e5; /* Heller Rotton für Hintergrund */
  color: #af4c4c; /* Textfarbe für Warnhinweis */
}
#titleDialog {
  font-weight: 500;
  font-size: 28px;
}

.selected-date-container.available {
  background-color: #d4edda; /* Hellgrün für verfügbare Termine */
  color: #155724;
}

.selected-date-container.unavailable {
  background-color: #f8d7da; /* Hellrot für nicht verfügbare Termine */
  color: #721c24;
}

.date-not {
  background-color: #fff3cd; /* Hellgelb für fehlende Auswahl */
  color: #856404;
}


.title-not {
  color: #af4c4c; /* Rot für den Text */
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.selected-date-title {
  font-size: 1.5rem; /* Größere Schriftgröße für den Titel */
  color: #4caf50; /* Grün für den Titel */
  margin-bottom: 8px; /* Abstand unter dem Titel */
}

.selected-date-text {
  font-size: 1rem; /* Schriftgröße für den Text */
  color: #333; /* Dunklere Schriftfarbe für besseren Kontrast */
}


#spacebetween{
  margin-right: 15px!important;
}
.timefield {
  @media (min-width: 992px) {
    width: 60%!important;
  }
}
.demo-inline-calendar-card {
  width: 60%;
  @media (max-width: 992px) {
    width: 100%;
  }
}

mat-card {
  margin-bottom: 20px;
}

  /* Optional: Zusätzliche Anpassungen */
.mat-dialog-content {
  padding: 16px; /* Füge Padding hinzu, um den Inhalt zu polstern */
  min-height: 600px;
  height: 80vh;
  max-height: 90vh;
}






::ng-deep .mat-mdc-dialog-content {
  max-height: none;
  height: auto; /* Inhalt bestimmt die Höhe */
}


.form-buttons {
  margin-top: 16px; /* Abstand oben für die Schaltflächen */
}

.name-field {
  display: flex;
  justify-content: space-between; /* Platz zwischen den Feldern */
}

.mat-form-field {
  flex: 1; /* Füllt den verfügbaren Platz gleichmäßig */
  margin-right: 8px; /* Abstand zwischen den Feldern */
}

.mat-form-field:last-child {
  margin-right: 0; /* Kein Abstand beim letzten Feld */
}
