<p mat-dialog-title id="titleDialog">Termin vereinbaren</p>
<mat-dialog-content align="center">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">


    <div class="form-field">
      <p class="date-selection-title">Datum & Uhrzeit</p>
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar
          (click)="resetTime()"
          [(selected)]="selectedDate"
          (selectedChange)="form.patchValue({ date: $event })"
          [minDate]="minDate">
        </mat-calendar>
      </mat-card>
    </div>

    <!-- Zeit -->
    <div class="form-field timefield">
      <mat-form-field appearance="outline">
        <mat-label>Uhrzeit</mat-label>
        <input matInput formControlName="time" [ngxMatTimepicker]="pickerB" [format]="24" placeholder="16:00" readonly />
        <span matSuffix (click)="pickerB.open()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" viewBox="0 -960 960 960" fill="currentColor">
        <path d="m612-292 56-56-148-148v-184h-80v216l172 172ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-400Zm0 320q133 0 226.5-93.5T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160Z"/>
      </svg>
    </span>
        <mat-error *ngIf="form.get('time')?.hasError('required')">
          Uhrzeit ist erforderlich
        </mat-error>
      </mat-form-field>
      <ngx-mat-timepicker color="accent" #pickerB [format]="24" [cancelBtnTmpl]="cancelBtn"  [confirmBtnTmpl]="confirmBtn"></ngx-mat-timepicker>
      <ng-template #cancelBtn>
        <button mat-button style="margin-right: 10px;">Abbrechen</button>
      </ng-template>
      <ng-template #confirmBtn>
        <button mat-button>Bestätigen</button>
      </ng-template>
    </div>


    <!-- Bereits gebuchte Termine anzeigen -->
    <div *ngIf="existingAppointments.length === 0" class="no-appointments">
      <i class="fas fa-calendar-times" aria-hidden="true"></i> <!-- Beispiel-Icon -->
      <p>Für heute sind keine Termine gebucht.</p>
    </div>

    <!-- Bereits gebuchte Termine anzeigen -->
    <div *ngIf="existingAppointments.length > 0">
      <h3>Bereits gebuchte Termine:</h3>
      <ul>
        <li *ngFor="let appointment of existingAppointments">
          {{ formatTime(appointment) }}
        </li>
      </ul>
    </div>


    <!-- Anzeige des ausgewählten Datums und Uhrzeit -->
    <div
      class="selected-date-container"
      *ngIf="selectedDate && form.get('time')?.value"
      [ngClass]="{
    'available': !isAppointmentTaken && isWithinBusinessHours(selectedDate, form.get('time')?.value),
    'unavailable': isAppointmentTaken,
    'out-of-hours': !isWithinBusinessHours(selectedDate, form.get('time')?.value)
  }">
      <h3 class="selected-date-title">Ausgewähltes Datum</h3>
      <p class="selected-date-text">
        {{ selectedDate | date: 'dd.MM.yyyy' }} um {{ form.get('time')?.value }} Uhr
      </p>

      <!-- Warnung, wenn Datum oder Uhrzeit fehlt -->
      <div *ngIf="!selectedDate || !form.get('time')?.value" class="selected-date-container date-not">
        <p class="selected-date-text title-not">
          Bitte Datum und Uhrzeit auswählen.
        </p>
      </div>

      <!-- Warnung, wenn der Termin bereits belegt ist -->
      <div *ngIf="isAppointmentTaken" style="color: red; margin-top: 10px;">
        Der Termin ist leider schon vergeben. Bitte einen anderen verwenden (nach 30 Min.).
      </div>

      <!-- Warnung, wenn der Termin außerhalb der Öffnungszeiten liegt -->
      <div *ngIf="!isWithinBusinessHours(selectedDate, form.get('time')?.value)" style="color: red; margin-top: 10px;">
        Die Terminvereinbarung liegt leider außerhalb der Öffnungszeiten.
      </div>
    </div>





    <div class="form-field name-field">
      <mat-form-field appearance="outline">
        <mat-label>Vor- und Nachname</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="form.get('name')?.hasError('required')">
          Vorname ist erforderlich
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>E-Mail-Adresse</mat-label>
        <input matInput formControlName="email" required email />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          E-Mail-Adresse ist erforderlich
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Ungültige E-Mail-Adresse
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Thema</mat-label>
        <input matInput formControlName="topic" required />
        <mat-error *ngIf="form.get('topic')?.hasError('required')">
          Thema ist erforderlich
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Beschreibung -->
    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Beschreibung</mat-label>
        <textarea matInput formControlName="message" rows="4"></textarea>
        <mat-error *ngIf="form.get('message')?.hasError('required')">
          Beschreibung erforderlich
        </mat-error>
      </mat-form-field>
    </div>



  </form>
</mat-dialog-content>

<mat-dialog-actions class="dialog-footer" align="end">
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-button (click)="onSubmit()" [disabled]="isSubmitDisabled">Ok</button>
</mat-dialog-actions>
