/*Animation fade in*/

/*
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-in-out forwards;
}

*/
/*Use this so its from the beginning not visible*/
/*
.custom-class {
  opacity: 0;
}
*/
.container {
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.card-body {
  background-color: var(--background-color);
}

.counterb {
  color: var(--yisu-text-dark);
}

.svgs {
  fill: var(--yisu-primary);
}

/* Dark Mode SVG Icons */
body.dark-mode .svgs {
  fill: var(--yisu-secondary);
}


.lead {
  text-align: center;
  font-family: Roboto, "Helvetica Neue";
  font-weight: 400;
  font-size: 16px;
  color: var(--yisu-text-dark);
}

.title {
  color: var(--yisu-text-dark);
}
