<div class="container py-4 py-md-6">
  <div class="row py-4">
    <div class="col-lg-4 mt-lg-2">
      <div class="lc-block">
        <div editable="rich">
          <p class="descriptionhotelpartner">Unsere Hotelpartner</p>
        </div>
      </div>
      <div class="lc-block mb-3">
        <div editable="rich">
          <h3 class="display-6 partners-title">Vertraut von über 40+ Hotelveranstalter</h3>
        </div>
      </div>
      <div class="lc-block">
        <div editable="rich">
          <p class="lead">Mit unseren Lösungen gestalten wir das Leben unserer Kunden leichter.</p>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <swiper-container
        loop="true"
        pagination-clickable="true"
        speed="500"
        autoplay-delay="2500"
        speed="500"
        class="mySwiper">
        <swiper-slide>
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/current/airtours.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/current/aldiana.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/current/aldiana_dyn.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/current/alltours.jpg" alt="" loading="lazy">
            </div>
          </div>
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/current/alltours_dyn.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/current/ameropa.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/current/anextour.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/current/aurum_tours.jpg" alt="" loading="lazy">
            </div>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/vtours-international-Logo_signatur-300x109.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/xTUI.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/anextour.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/eurowings.jpg" alt="" loading="lazy">
            </div>
          </div>
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/xoeger.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/eurowings.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/foryou.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/Bentour-Logo.jpg" alt="" loading="lazy">
            </div>
          </div>
        </swiper-slide>


        <swiper-slide>
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/ferien.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/logo-spica.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/alltours_dynamisch_1801.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/foryoukatalog.jpg" alt="" loading="lazy">
            </div>
          </div>
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/Logo_BucherReisen_Farbe.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/its.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/schauinsland.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/xanex.jpg" alt="" loading="lazy">
            </div>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/luxairtours-logo-vector-xs.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/byebye.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/itsindii.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/schauinsland_dynamisch.jpg" alt="" loading="lazy">
            </div>
          </div>
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/gobucher.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/logo_medinareisen.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/coraltravel.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/itt.jpg" alt="" loading="lazy">
            </div>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/Travelix_Logo.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/Logo_xDER.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/coraltravelswitzerland.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/jahn.jpg" alt="" loading="lazy">
            </div>
          </div>
          <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/dertour.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/lmxtouritistik.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/ltur.jpg" alt="" loading="lazy">
            </div>
            <div class="col lc-block">
              <img class="img-fluid" src="/partner/eurowings.jpg" alt="" loading="lazy">
            </div>
          </div>
        </swiper-slide>


      </swiper-container>
    </div>
  </div>
</div>




<div class="container pb-4 offiziellepartner">
  <div class="row">
    <div class="col-md-12 text-center mb-4">
      <div class="lc-block">
        <h2 editable="inline" class="display-2 mb-0 title"><b>Unsere Offiziellen Partner</b></h2>
        <p editable="inline">Wir sind stolz darauf, mit unseren offiziellen Partnern zusammenzuarbeiten.</p>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <!-- SunExpress (left on desktop, second on mobile) -->
    <div class="col-md-4 col-12 mb-4 order-md-1 order-2">
      <div class="lc-block partner-card">
        <div class="text-center">
          <img src="/offizielle-partner/sunexpress.jpg" alt="Offizieller Partner" class="partner-logo">
        </div>
      </div>
    </div>
    <!-- Turkish Airlines (middle on desktop, first on mobile) -->
    <div class="col-md-4 col-12 mb-4 order-md-2 order-1">
      <div class="lc-block partner-card">
        <div class="text-center">
          <img src="/offizielle-partner/turkishairlines.jpg" alt="Offizieller Partner" class="partner-logo">
        </div>
      </div>
    </div>
    <!-- Pegasus (right on desktop, third on mobile) -->
    <div class="col-md-4 col-12 mb-4 order-md-3 order-3">
      <div class="lc-block partner-card">
        <div class="text-center">
          <img src="/offizielle-partner/Pegasus-Airlines-Logo.jpg" alt="Offizieller Partner" class="partner-logo">
        </div>
      </div>
    </div>
  </div>
</div>



