<div class="container mt-5 mb-5">
  <h1>Allgemeine Geschäftsbedingungen</h1>
  <p class="intro">Hier finden Sie unsere Allgemeine Geschäftsbedingungen für unbeschrankte, offene Parkanlagen des ruhenden Verkehrs der YISU Travel GmbH. Die vorliegenden Allgemeinen Geschäftsbedingungen (AGB) regeln die Nutzung unserer Dienstleistungen und den Abschluss von Verträgen. Wir möchten Ihnen mit diesen AGB einen klaren Überblick über Ihre Rechte und Pflichten geben und gleichzeitig sicherstellen, dass Ihr Aufenthalt bei uns reibungslos verläuft. </p>
  <h2>I. Begriffsbestimmungen</h2>
  <p>I.1. Fahrzeuge im Sinne der nachfolgenden Bestimmungen sind Personenkraftwagen ohne Anhänger sowie Motorräder.</p>
  <p>I.2. Die Benutzung der Parkanlage im Sinne der nachfolgenden Bestimmungen ist ausschließlich das Abstellen von Fahrzeugen sowie die hiermit notwendigerweise verbundenen Handlungen der Fahrzeuginsassen.</p>
  <p>I.3. Zeitanzeige im Sinne der nachfolgenden Bestimmungen ist eine Parkscheibe gemäß der StVO oder ein von der YISU Travel GmbH ausgestellter Parkerlaubnisschein.</p>
  <p>I.4. Ein Parkverstoß im Sinne der nachfolgenden Bestimmungen ist das Abstellen des Fahrzeugs ohne Zeitanzeige, das Nichteinstellen oder Falschangeben der Ankunftszeit sowie das überschreiten der maximalen Parkzeit.</p>
  <p>I.5. Falschparken im Sinne der nachfolgenden Bestimmungen ist das Abstellen des Fahrzeugs außerhalb der markierten Stellplätze oder auf einem für andere Nutzer reservierten Stellplatz oder das ohne Berechtigung Parken auf einem Schwerbehindertenstellplatz.</p>


  <h2>II. Vertragsschluss/ Vertragsgegenstand/ Vertragsbeendigung/ Gerichtsstand</h2>

  <p>II.1. Durch das Abstellen des Fahrzeugs in der Parkanlage kommt mit dem Fahrer konkludent ein Mietvertrag über die Nutzung des Stellplatzes zustande.</p>
  <p>II.2. Mit dem Einfahren auf die Parkanlage und dem Abstellen des Fahrzeugs werden die allgemeinen Geschäftsbedingungen (AGB) akzeptiert.</p>
  <p>II.3. Der Fahrer des Fahrzeugs hat die Anweisungen des Personals der YISU Travel GmbH sowie der Verkehrs- und Hinweisschilder zu befolgen. Im Übrigen gelten die Bestimmungen der Straßenverkehrsordnung (StVO) entsprechend.</p>
  <p>II.4. Das Befahren der Parkanlage ist nur während der Öffnungszeiten und nur mit amtlich zugelassenen Fahrzeugen gestattet und dient lediglich der Handlungen gemäß I.2. Das Begehen der Fahrbahn einschließlich der Ein- und Ausfahrten sowie das Rauchen oder Verwendung von offenem Feuer oder das Verteilen von Werbematerial und sonstige kommerzielle Nutzung ist nicht gestattet.</p>
  <p>II.5. Geschuldete Leistung der YISU Travel GmbH ist die Überlassung und Nutzung der Parkanlage gemäß I.2. Darüber hinaus bestehen keine weiteren Leistungspflichten der YISU Travel GmbH. Gegenstand des Mietvertrages ist weder die Bewachung noch die Verwahrung des abgestellten Fahrzeugs oder die Gewährung etwaiger Obhutspflichten.</p>
  <p>II.6. Der Fahrer des Fahrzeugs ist verpflichtet, seine Ankunftszeit durch Hinterlegung einer Zeitanzeige gut von außen sichtbar hinter der Windschutzscheibe nachzuweisen. Ist die Zeitanzeige nicht sichtbar, so gilt diese als nicht vorhanden. Das Risiko der Lesbarkeit trägt der Fahrer des Fahrzeugs.</p>
  <p>II.7. Mit dem Verlassen des Fahrzeugs aus der Parkanlage endet der Mietvertrag über die Nutzung des Stellplatzes, es sei denn der Vertrag wird vorher seitens der YISU Travel GmbH außerordentlich gekündigt.</p>
  <p>II.8. Nach der außerordentlichen Kündigung hat der Fahrer sein Fahrzeug unverzüglich aus der Parkanlage zu entfernen.</p>
  <p>II.9. Ein wichtiger Grund für die außerordentliche Kündigung ist insbesondere dann gegeben,</p>

  <ul>
    <li>wenn der Fahrer des Fahrzeugs einen Parkverstoß gemäß I.4. begeht oder falsch parkt gemäß I.5.</li>
    <li>wenn die
      Verarbeitung Ihrer personenbezogenen Daten unrechtm&auml;&szlig;ig geschah/geschieht, k&ouml;nnen Sie statt
      der L&ouml;schung die Einschr&auml;nkung der Datenverarbeitung verlangen;
    </li>
    <li>das abgestellte Fahrzeug nicht haftpflichtversichert ist, ohne ein amtlichen Kennzeichen oder Prüfplakette versehen ist;
    </li>
    <li>das abgestellte Fahrzeug leichtentzündliche Stoffe lagert, einen undichten Tank oder sonst im verkehrsunsicheren Zustand geparkt wird;
    </li>
    <li>wenn der Fahrer des Fahrzeugs die Parkanlage entgegen der Bestimmung des I.2. nutzt.
    </li>
  </ul>

  <p>II.10. Nach Ablauf der ausgeschilderten maximalen Parkzeit erlischt die Parkerlaubnis. Der Fahrer hat das Fahrzeug in diesem Fall unverzüglich über die Ausfahrt der Parkanlage zu entfernen. Das Überschreiten der ausgeschilderten maximalen Parkzeit führt nicht zu einer automatischen Verlängerung des Mietvertrages.</p>
  <p>II.11. YISU Travel GmbH ist berechtigt, das Fahrzeug kostenpflichtig abschleppen zu lassen, wenn es nach ordentlichem oder außerordentlichem Vertragsende nicht entfernt wird oder ein Parkverstoß gemäß I.4 oder Falschparken gemäß I.5. vorliegt. Der Fahrer des Fahrzeugs hat die Kosten des Abschleppens, Aufbewahrung, Verwertung und Entsorgung zu tragen.</p>
  <p>II.12. Jede von dem Fahrer oder von dem Nutzer begangene Straftat in der Parkanlage wird zur Anzeige gebracht.</p>
  <p>II.13. Ausschließlicher Gerichtsstand und Erfüllungsort ist für alle Streitigkeiten, gleich aus welchem Rechtsgrund – soweit nichts anderes vereinbart - XXXXXXX.</p>




  <h2>III. Meldepflicht des Fahrers und des Nutzers und Ausschlussfristen</h2>
  <p>III.1. Der Fahrer oder der Nutzer ist verpflichtet, verursachte offene Schäden bei dem für die Parkanlage zuständigen Personal der YISU Travel GmbH unverzüglich anzuzeigen. Sofern sich in dem Moment kein Personal finden lässt, ist der Fahrer oder der Nutzer verpflichtet, eine telefonische Anzeige über die XXX/ XXXXXXXX zu machen.</p>
  <p>III.2. Ist aus entschuldbaren Gründen eine Anzeige des offenen Schadens unverzüglich nicht möglich, ist diese vor Verlassen der Parkanlage nachzuholen, spätestens jedoch 14 Tage nach dem Schadenseintritt der YISU Travel GmbH schriftlich anzuzeigen.</p>
  <p>III.3. Liegt ein verdeckter Schaden vor, ist er innerhalb von 14 Tagen nach Entdeckung schriftlich der YISU Travel GmbH anzuzeigen.</p>
  <p>III.4. Verstößt der Fahrer oder der Nutzer gegen seine Anzeigepflicht gemäß III.1., III.2. oder III.3., sind sämtliche Schadenersatzansprüche des Fahrers oder des Nutzers ausgeschlossen, es sei denn, er hat den Verstoß nicht zu vertreten. Dieser Haftungsausschluss greift nicht ein, wenn dem Fahrer oder dem Nutzer ein Personenschaden entstanden ist oder die YISU Travel GmbH den Schaden grob fahrlässig oder vorsätzlich verursacht hat.</p>
  <p>III.5. Der Fahrer oder der Nutzer ist verpflichtet, der YISU Travel GmbH die Möglichkeit zu geben, das Fahrzeug im Schadensfall zu untersuchen, den Schaden aufzunehmen und zu dokumentieren.</p>



  <h2>IV. Haftung</h2>
  <p>IV.1. YISU Travel GmbH haftet unbeschränkt für Vorsatz und grobe Fahrlässigkeit.</p>
  <p>IV.2. Für einfache Fahrlässigkeit haftet YISU Travel GmbH – außer im Falle der Verletzung des Lebens, des Körpers oder der Gesundheit – nur, sofern wesentliche Vertragspflichten (Kardinalpflichten) verletzt werden. Die Haftung ist begrenzt auf den vertragstypischen und vorhersehbaren Schaden.</p>
  <p>IV.3. Die Haftung für mittelbare und unvorhersehbare Schäden, Produktions- und Nutzungsausfall, entgangenen Gewinn, ausgebliebene Einsparungen und Vermögensschäden wegen Ansprüchen Dritter ist im Falle einfacher Fahrlässigkeit – außer im Falle der Verletzung des Lebens, des Körpers oder der Gesundheit – ausgeschlossen.</p>
  <p>IV.4. Eine weitergehende Haftung als in diesem Vertrag ist – ohne Rücksicht auf die Rechtsnatur des geltend gemachten Anspruchs – ausgeschlossen. Vorstehende Haftungsbeschränkungen bzw. -ausschlüsse gelten jedoch nicht für eine gesetzlich zwingend vorgeschriebene verschuldensunabhängige Haftung (z. B. gemäß Produkthaftungsgesetz) oder die Haftung aus einer verschuldensunabhängigen Garantie.</p>
  <p>IV.5. Soweit die Haftung nach III.2. und III.3. ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung der Angestellten, Arbeitnehmer, Vertreter, Organe und Erfüllungsgehilfen der YISU Travel GmbH.</p>
  <p>IV.6. YISU Travel GmbH haftet nicht für Schäden, die allein durch Naturereignisse, andere Fahrer oder sonstige über den in III.5. genannten Personenkreis hinausgehende Dritte zu verantworten sind, insbesondere durch Diebstahl oder Vandalismus.</p>
  <p>IV.7. YISU Travel GmbH haftet nicht für durch Dritte entwendete Wertgegenstände, die der Nutzer bewusst oder unbewusst im Fahrzeug oder in der Parkanlage zurückgelassen hat.</p>


  <h2>V. Vertragsstrafe</h2>
  <p>V.1. Der Fahrer hat eine Vertragsstrafe zu zahlen, wenn er einen Parkverstoß gemäß I.4. begeht oder falsch parkt gemäß I.5, es sei denn, er hat den Parkverstoß oder das Falschparken nicht zu vertreten.</p>
  <p>V.2. Die Vertragsstrafe für einen Parkverstoß gemäß I.4 beträgt EUR 25,00, zzgl. der weiteren anfallenden Kosten und Auslagen.</p>
  <p>V.3. Die Vertragsstrafe für das Falschparken gemäß I.5. beträgt EUR 25,00, zzgl. der weiteren anfallenden Kosten und Auslagen.</p>
  <p>V.4. Blockiert der Fahrer durch falsches Parken gemäß I.5. Notausgänge oder Rettungswege, beträgt die Vertragsstrafe EUR 50,00, zzgl. der weiteren anfallenden Kosten und Auslagen.</p>
  <p>V.5. Parkt der Fahrer auf einen mit einem Zusatzzeichen des Rollstuhlfahrersymbols für Schwerbehinderte markierten Stellplatz, ohne einen EU-einheitlichen oder bundeseinheitlichen Schwerbehindertenparkausweis, beträgt die Vertragsstrafe EUR 50,00, zzgl. der weiteren anfallenden Kosten und Auslagen.</p>
  <p>V.6. Nutzt der Fahrer des Fahrzeugs eine nicht von der YISU Travel GmbH autorisierte Berechtigungsbescheinigung für Personalparkplätze oder einen nicht von der YISU Travel GmbH autorisierten Dauerparkausweis, beträgt die Vertragsstrafe EUR 100,00, zzgl. der weiteren anfallenden Kosten und Auslagen. Jede begangene Straftat wird zur Anzeige gebracht.</p>
  <p>V.7. Die Vertragsstrafe ist auf das auf der Rechnung oder sonstigen Zahlungsaufforderung versehene Konto zu überweisen.</p>

</div>
