.container {
  max-width: 1140px; /* Breite auf 1140px beschränken */
  margin: 0 auto; /* Zentriere den Container */
  padding: 20px; /* Innerer Abstand */
  @media (max-width: 768px) {
    padding-top: 0px;
  }
}

.intro {
  margin-bottom: 50px;
}

h1 {
  text-align: left;
  color: #333;
  margin-bottom: 30px;
  font-weight: 800;
}

mat-expansion-panel-header {
  background-color: #fff; /* Heller Hintergrund für die Header der Panels */
  padding: 40px;
  padding-left: 20px;
}


mat-panel-title {
  font-size: 1.25rem;
}

p {
  margin: 0;
  padding: 10px 0;
  color: #292929;
}


