:host {
  display: block;
  background-color: var(--yisu-bg-main);
  color: var(--yisu-text-medium);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .container {
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.intro {
  margin-bottom: 50px;
  color: var(--yisu-text-light);
}

h1 {
  text-align: left;
  color: var(--yisu-secondary);
  margin-bottom: 30px;
  font-weight: 800;
}

h2,
h3,
h4 {
  color: var(--yisu-nav-items);
  font-weight: 700;
}

mat-expansion-panel-header {
  background-color: var(--yisu-bg-card);
  padding: 40px 20px;
  border: 1px solid var(--yisu-border-light);
  color: inherit;
}

mat-panel-title {
  font-size: 1.25rem;
  color: var(--yisu-secondary);
}

p,
li {
  margin: 0;
  padding: 10px 0;
  color: inherit;
}

ul {
  padding-left: 1.25rem;
}

a {
  color: var(--link-color);
  font-weight: 600;
}

a:hover,
a:focus {
  color: var(--yisu-nav-items-hover);
  text-decoration: underline;
}
