<div class="about-us-container">
  <div class="image-section">
    <img src="/about_us.jpg" alt="YISU Travel" class="animated-image" />
  </div>
  <div class="text-section">
    <div class="logo-container">
      <img src="/logo.png" alt="YISU Travel Logo" class="logo" />
    </div>
    <p class="title">Wer sind wir?</p>
    <p>
      Bei YISU Travel legen wir großen Wert auf persönlichen und hochwertigen
      Kundenservice. Unser Ziel ist es, Ihre Reiseerfahrungen so angenehm und
      unvergesslich wie möglich zu gestalten. Wir unterstützen Sie von der
      Planung bis zur Durchführung und sind stets für Ihre individuellen
      Wünsche da. Verlassen Sie sich auf unsere Erfahrung und Leidenschaft,
      um Ihnen unvergessliche Reiseerlebnisse zu bieten.
    </p>
    <div class="call-to-action">
      <button mat-flat-button class="mb-3 btn-primary" routerLink="/ueber-uns">Mehr erfahren</button>
    </div>
  </div>
</div>
