<div class="background">
  <div class="container" style="max-width: 1140px;">
    <div class="row">
      <div class="col-md-6">
        <h1 class="mb-4 mt-5">Von einem Traum zur Realität</h1>
        <hr class="divider w-25"> <!-- Divider hinzugefügt -->
        <p class="text">
          Unsere Geschichte bei YISU Travel ist eine Reise, die mit einem Traum begann. Ich heiße Yigit und zusammen mit meinem Onkel haben wir ganz klein angefangen.
          Es war nicht immer einfach, wir sind durch viele Herausforderungen gegangen, haben Rückschläge erlebt, aber nie aufgegeben.
          Heute stehen wir voller Stolz hier, getragen von einem engagierten Team, das stets an unserer Seite war. Mit dem Herzen voller Dankbarkeit blicken wir zurück auf die vielen Herausforderungen, die wir gemeinsam gemeistert haben und auf den weiten Weg, den wir zusammen gegangen sind.
        </p>
        <p class="text">
          Unser Herz schlägt für das Reisen und für den persönlichen Kontakt zu unseren Kunden. Jeder Schritt, den wir machen, ist darauf ausgerichtet, unseren Kunden den besten Service zu bieten.
          Mit Leidenschaft, Hingabe und dem festen Ziel, unvergessliche Erlebnisse zu schaffen.
        </p>
      </div>
      <div class="col-md-6 mt-5">
        <img src="/about-us/about-us2.jpg" alt="YISU Travel" class="img-fluid rounded shadow" style="aspect-ratio: auto 1080 / 1065;"> <!-- Schatten und Fade-in-Effekt -->
      </div>
    </div>

    <div class="row secondpart">
      <div class="col-md-6">
        <h2>Was macht uns aus?</h2>
        <hr class="divider w-25"> <!-- Divider hinzugefügt -->
        <p class="text">
          Bei uns stehen Sie als Kunde im Mittelpunkt. Unser Ziel ist es, nicht nur Reisen zu verkaufen, sondern einzigartige Erlebnisse zu schaffen.
          Wir nehmen uns Zeit, Ihre Wünsche und Bedürfnisse bis ins Detail zu verstehen, um eine Reise zu planen, die perfekt zu Ihnen passt.
          Was uns besonders macht, ist unsere Leidenschaft für das Reisen und unser Engagement, Ihnen einen persönlichen und transparenten Service zu bieten.
        </p>
      </div>
      <div class="col-md-6">
        <h2 class="">Unsere Grundwerte</h2>
        <hr class="divider w-25"> <!-- Divider hinzugefügt -->
        <p class="text">
          Bei uns steht der Kunde im Mittelpunkt. Wir glauben daran, dass jede Reise einzigartig ist und individuell gestaltet werden sollte. Unsere Grundwerte sind:
        </p>
        <ul class="">
          <li><span class="spancolor">-</span> Transparente Kommunikation</li>
          <li><span class="spancolor">-</span> Individuelle Reiseplanung</li>
          <li><span class="spancolor">-</span> Rund-um-die-Uhr-Service</li>
        </ul>
      </div>
    </div>
  </div>
</div>
