<section class="bg-primary text-white text-center py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <h5 class="display-4 fw-bold">Auswärtiges Amt</h5>
        <p class="lead my-4">Das Auswärtige Amt informiert Reisende umfassend über sicherheits- und gesundheitsrelevante Aspekte bei Reisen ins Ausland.</p>
        <a mat-button href="https://www.auswaertiges-amt.de/de/ReiseUndSicherheit" target="_blank" class="btn-primary custom-button">
          Zum auswärtigen Amt
        </a>
      </div>
      <div class="col-lg-6">
        <img src="/interessante-themen/passport.jpg" class="img-fluid" alt="Automated Forms">
      </div>
    </div>
  </div>
</section>
