<div class="container py-4 py-md-6">
  <div class="row py-4 justify-content-center">
    <div class="col-12 text-center">
      <div class="lc-block">
        <div editable="rich">
          <p class="descriptionflug">Unsere Flugpartner</p>
        </div>
      </div>
      <div class="lc-block mb-3">
        <div editable="rich">
          <h3 class="display-6 flug-title">Partner von mehr als 27 Fluggesellschaften</h3>
        </div>
      </div>
      <div class="lc-block mb-3">
        <div editable="rich">
          <p class="lead">Wir danken unseren Partnern für ihr Vertrauen und ihre Zusammenarbeit.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Desktop Bootstrap Carousel -->
  <div class="desktop-swiper">
    <div id="flugpartnerDesktopCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" appCarouselSwipe>
      <div class="carousel-inner">
        <div class="carousel-item active">
        <div class="row row-cols-2 row-cols-md-6 g-4">
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Air-France-Logo.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/airnewzealaned.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/AJet_logo.svg.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/All_Nippon_Airways_Logo.svg.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Asiana_Airlines-Logo_New.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Austrian_Airlines'_logo_(2018).jpg" alt="">
          </div>
        </div>
        <div class="row row-cols-2 row-cols-md-6 g-4 mt-4">
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/britishairlines.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Brussels_airlines_logo_2021.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/cathaypacific.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/corendon.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Dragonair-logo-943B454740-seeklog.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Emirates_logo.svg.jpg" alt="">
          </div>
        </div>
        </div>

        <div class="carousel-item">
        <div class="row row-cols-2 row-cols-md-6 g-4">
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/ethiopian.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/etihad.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/eva-air-logo.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Garuda-Indonesia-Logo.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Japan-Airlines-Logo.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Lufthansa_Logo_2018.jpg" alt="">
          </div>
        </div>
        <div class="row row-cols-2 row-cols-md-6 g-4 mt-4">
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Qantas-Logo.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Qatar-Airways-Logo.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/ryanair.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Saudia.svg.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Singapore-Airlines-Logo.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/swiss-logo-international.jpg" alt="">
          </div>
        </div>
        </div>

        <div class="carousel-item">
        <div class="row row-cols-2 row-cols-md-6 g-4">
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/swiss.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Thai-Airways-Logo.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Virgin_Australia_Logo_2022.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Emirates_logo.svg.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Saudia.svg.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/etihad.jpg" alt="">
          </div>
        </div>
        <div class="row row-cols-2 row-cols-md-6 g-4 mt-4">
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Qantas-Logo.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/AJet_logo.svg.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/ryanair.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Saudia.svg.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/Virgin_Australia_Logo_2022.jpg" alt="">
          </div>
          <div class="col lc-block">
            <img class="img-fluid" src="/flugpartner/swiss-logo-international.jpg" alt="">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile Bootstrap Carousel -->
  <div class="mobile-swiper">
    <div id="flugpartnerMobileCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" appCarouselSwipe>
      <div class="carousel-inner">
        <div class="carousel-item active">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/Air-France-Logo.jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/airnewzealaned.jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/AJet_logo.svg.jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/All_Nippon_Airways_Logo.svg.jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/Asiana_Airlines-Logo_New.jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/Austrian_Airlines'_logo_(2018).jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/britishairlines.jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/Brussels_airlines_logo_2021.jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/cathaypacific.jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/corendon.jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/Dragonair-logo-943B454740-seeklog.jpg" alt="">
        </div>
        </div>
        <div class="carousel-item">
        <div class="lc-block">
          <img class="img-fluid" src="/flugpartner/Emirates_logo.svg.jpg" alt="">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
