<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="lc-block">
        <h2 editable="inline" class="display-2 mb-0"><b>Service</b></h2>
        <p editable="inline" class="lead">Entdecken Sie unsere vielfältigen Dienstleistungen für unvergessliche Reisen.</p>
      </div><!-- /lc-block -->
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-md-4 text-center">
      <div class="lc-block feature-card">
        <img alt="Hotel" class="img-fluid feature-img" src="/services/hotels.jpg" />
        <h4 class="my-3" editable="inline">Hotel</h4>
        <p editable="inline">Wählen Sie aus einer Vielzahl von Hotels, die Komfort und Stil bieten.</p>
      </div><!-- /lc-block -->
    </div>
    <div class="col-md-4 text-center">
      <div class="lc-block feature-card">
        <img class="img-fluid feature-img" alt="Flug" src="/services/flug.jpg" />
        <h4 class="my-3" editable="inline">Flug</h4>
        <p editable="inline">Profitieren Sie von günstigen Flügen zu Zielen weltweit.</p>
      </div><!-- /lc-block -->
    </div>
    <div class="col-md-4 text-center">
      <div class="lc-block feature-card">
        <img alt="Pauschalreise" class="img-fluid feature-img" src="/services/pauschalreise.jpg" />
        <h4 class="my-3" editable="inline">Pauschalreise</h4>
        <p editable="inline">Genießen Sie sorglose Reisen mit allem, was Sie brauchen: Flug, Hotel und Aktivitäten.</p>
      </div><!-- /lc-block -->
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-md-4 text-center">
      <div class="lc-block feature-card">
        <img alt="Kreuzfahrt" class="img-fluid feature-img" src="/services/yacht.jpg" />
        <h4 class="my-3" editable="inline">Kreuzfahrt</h4>
        <p editable="inline">Entdecken Sie traumhafte Ziele und Luxus an Bord unserer Kreuzfahrten.</p>
      </div><!-- /lc-block -->
    </div>
    <div class="col-md-4 text-center">
      <div class="lc-block feature-card">
        <img alt="Mietwagen" class="img-fluid feature-img" src="/services/rental.jpg" />
        <h4 class="my-3" editable="inline">Mietwagen</h4>
        <p editable="inline">Erkunden Sie neue Orte mit Flexibilität dank unseres Mietwagen-Services.</p>
      </div><!-- /lc-block -->
    </div>
    <div class="col-md-4 text-center">
      <div class="lc-block feature-card">
        <img alt="Visum" class="img-fluid feature-img" src="/services/visa.jpg" />
        <h4 class="my-3" editable="inline">Visum</h4>
        <p editable="inline">Ein einfacher und schneller Visa-Antragsprozess für Ihre Reiseziele.</p>
      </div><!-- /lc-block -->
    </div>
  </div>

  <div class="row pt-4">
    <div class="col-md-4 text-center">
      <div class="lc-block feature-card">
        <img alt="Reiserücktrittsversicherung" class="img-fluid feature-img" src="/services/insurance.jpg" />
        <h4 class="my-3" editable="inline">Reiserücktrittsversicherung</h4>
        <p editable="inline">Schutz für Ihre Reiseinvestitionen – damit Sie sorgenfrei reisen können.</p>
      </div><!-- /lc-block -->
    </div>
  </div>
</div>
