<!-- Bootstrap Carousel Container -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="image-container">
        <img src="/homepage/cover-carousel/homepagecover1.jpg" alt="YISU Travel GmbH" class="cropped-image" />
        <div class="banner">
          <div class="animated-text">
            <h1>YISU Travel GmbH</h1>
            <h2>Ihr Reisebüro</h2>
            <h3>Von der ersten Beratung bis zur Rückkehr</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="image-container">
        <img src="/homepage/cover-carousel/homepagecover2.jpg" alt="YISU Travel GmbH" class="cropped-image" />
        <div class="banner">
          <!--
  <div class="unique-text-container">
    <p class="unique-title">YISU Travel</p>
    <p class="unique-subtitle">Ihr Reisebüro</p>
    <p class="unique-description">Von der ersten Beratung bis zur Rückkehr</p>
  </div>
  -->
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="image-container">
        <img src="/homepage/cover-carousel/homepagecover3.jpg" alt="YISU Travel GmbH" class="cropped-image" />
        <div class="banner">
          <!--
            <div class="animated-text">
              <p>YISU Travel</p>
              <p>Ihr Reisebüro</p>
              <p>Von der ersten Beratung bis zur Rückkehr</p>
            </div>
            -->
        </div>
      </div>
    </div>


    <div class="carousel-item">
      <div class="image-container">
        <img src="/homepage/cover-carousel/homepagecover4.jpg" alt="YISU Travel GmbH" class="cropped-image" />
        <div class="banner">
          <!--
            <div class="animated-text">
              <p>YISU Travel</p>
              <p>Ihr Reisebüro</p>
              <p>Von der ersten Beratung bis zur Rückkehr</p>
            </div>
            -->
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="image-container">
        <img src="/homepage/cover-carousel/homepagecover6.jpg" alt="YISU Travel GmbH" class="cropped-image" />
        <div class="banner">
          <!--
            <div class="animated-text">
              <p>YISU Travel</p>
              <p>Ihr Reisebüro</p>
              <p>Von der ersten Beratung bis zur Rückkehr</p>
            </div>
            -->
        </div>
      </div>
    </div>

  </div>



  <!-- Carousel Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
