<div class="intro-container">
  <h1 class="intro-title" >Willkommen bei <br> <span #textanimation class="highlight">YISU Travel GmbH</span></h1>
  <p class="intro-text">
    Unsere Seite befindet sich momentan noch im Aufbau, da wir den nächsten Schritt in die digitale Welt machen möchten.
    Wir wünschen uns, Ihnen bald alle unsere Reiseangebote und Dienstleistungen bequem online zur Verfügung stellen zu können.
    Schauen Sie gerne regelmäßig vorbei – wir freuen uns darauf, Ihnen bald das volle digitale Erlebnis zu bieten!
  </p>
</div>
<div class="custom-divider"></div>
